<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ztiany.view">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".AppContext"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">

        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ContentActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".animation.reversal.ReversalActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".dialogs.DialogsActivity" />

        <activity android:name=".window.RealWindowSizeActivity" />

        <activity android:name=".inflater.LayoutInflaterActivity" />

        <activity android:name=".animation.circular_reveal.CircularRevealActivity" />

        <activity
            android:name=".dialogs.DialogActivity"
            android:label="DialogActivity"
            android:theme="@style/AppTheme.Dialog" />

        <activity android:name=".constraint.ConstraintLayoutActivity" />

        <activity
            android:name="com.ztiany.recyclerview.RvMainActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="com.ztiany.recyclerview.RvContentActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".bitmap.BitmapActivity" />

        <activity android:name=".courses.hencoderplus.viewroot.ChangeImmediatelyActivity"/>
        <activity android:name=".courses.hencoderplus.viewroot.ChangeDelayActivity"/>
        <activity android:name=".courses.hencoderplus.viewroot.ChangeWithClickActivity"/>
        <activity android:name=".courses.hencoderplus.viewroot.ChangeWrapWithClickActivity"/>
        <activity android:name=".courses.hencoderplus.viewroot.RequestBeforeChangeWrapWithClickActivity"/>
        <activity android:name=".courses.hencoderplus.viewroot.ViewRootActivity"/>

    </application>

</manifest>