<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.UIJetpackCompose"
        tools:ignore="AllowBackup">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="Compose 学习"
            android:theme="@style/Theme.UIJetpackCompose.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".foundation.tutor.TutorActivity"
            android:label="Compose Tutor Example" />

        <activity
            android:name=".rengxuxian.RengWuXianComposeActivity"
            android:label="扔物线 Compose" />

        <activity
            android:name=".foundation.layout.LayoutBasicActivity"
            android:label="布局基础基础" />

        <activity
            android:name=".foundation.sideeffect.SideEffectActivity"
            android:label="Side Effect 演示" />

        <activity
            android:name=".foundation.local.CompositionLocalActivity"
            android:label="CompositionLocal 演示" />

        <activity
            android:name=".foundation.material.MaterialActivity"
            android:label="material 演示" />

        <activity
            android:name=".foundation.custom.CustomLayoutActivity"
            android:label="Custom Layout 演示" />

    </application>

</manifest>