<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ztiany.androidx.kotlin">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".AppContext"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning,RtlEnabled,UnusedAttribute">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--Ktx-->
        <activity
            android:name=".ktx.KtxActivity"
            android:label="Ktx" />

        <!--Coroutines-->
        <activity
            android:name=".coroutines.CoroutinesActivity"
            android:label="Coroutines Sample" />
        <activity
            android:name=".coroutines.CoroutineUIGuideActivity"
            android:label="CoroutineUIGuideActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".coroutines.LifecycleCoroutineExSampleActivity"
            android:label="LifecycleCoroutineExSample" />
        <activity
            android:name=".coroutines.CoroutineWithGlobalScopeActivity"
            android:label="CoroutineWithGlobalScope" />

    </application>

</manifest>