<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ztiany.androidx.kotlin">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.ztiany.androidx.AppContext"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning,RtlEnabled,UnusedAttribute">

        <activity
            android:name="com.ztiany.androidx.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- ====================================================================== -->
        <!--Jetpack-->
        <!-- ====================================================================== -->
        <activity
            android:name="com.ztiany.androidx.jetpack.lifecycle.LifecycleActivity"
            android:exported="false"
            android:label="Lifecycle" />

        <activity
            android:name="com.ztiany.androidx.jetpack.fragment.FragmentDemoActivity"
            android:exported="false"
            android:label="Fragments" />

        <activity
            android:name="com.ztiany.androidx.jetpack.activity.FirstActivity"
            android:exported="false"
            android:label="FirstActivity" />

        <activity
            android:name="com.ztiany.androidx.jetpack.activity.SecondActivity"
            android:exported="false"
            android:label="SecondActivity" />

        <activity
            android:name="com.ztiany.androidx.jetpack.livedata.LiveDataActivity"
            android:exported="false"
            android:label="LiveData" />

        <activity
            android:name="com.ztiany.androidx.jetpack.viewmodel.ViewModelActivity"
            android:exported="false"
            android:label="viewmodel" />

        <activity
            android:name=".ktx.KtxActivity"
            android:exported="false"
            android:label="Ktx" />

        <activity
            android:name="com.ztiany.androidx.jetpack.datastore.DataStoreActivity"
            android:exported="false"
            android:label="DataStore" />

        <activity
            android:name="com.ztiany.androidx.jetpack.compatibility.CompatibilityActivity"
            android:exported="false"
            android:label="Compatibility" />

        <!-- ====================================================================== -->
        <!--Kotlin-->
        <!-- ====================================================================== -->
        <activity
            android:name=".coroutines.research.CoroutinesActivity"
            android:exported="false"
            android:label="Coroutines Sample" />

        <activity
            android:name=".coroutines.official.jetbrains.CoroutineUIGuideActivity"
            android:exported="false"
            android:label="CoroutineUIGuideActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".coroutines.research.LifecycleCoroutineExSampleActivity"
            android:exported="false"
            android:label="LifecycleCoroutineExSample" />

        <activity
            android:name=".coroutines.research.CoroutineWithGlobalScopeActivity"
            android:exported="false"
            android:label="CoroutineWithGlobalScope" />

        <activity
            android:name=".coroutines.official.google.flow.OfficialFlowActivity"
            android:exported="false"
            android:label="Google Flow" />

    </application>

</manifest>