<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ztiany.androidipc">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="com.ztiany.androidipc.IBookManager" />

    <permission
        android:name="com.ztiany.androidipc.IBookManager"
        android:protectionLevel="normal" />

    <application
        android:name=".IPCContext"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name=".activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.BookManagerActivity" />
        <activity android:name=".activity.BinderPollActivity" />
        <activity android:name=".activity.MessengerActivity" />
        <activity android:name=".activity.SocketActivity" />
        <activity android:name=".activity.ProviderActivity" />

        <service
            android:name=".service.IPCService"
            android:enabled="true"
            android:exported="true"
            android:process=":ipc_service" />

        <service
            android:name=".service.BookManagerService"
            android:enabled="true"
            android:exported="true"
            android:process=":remote_book" />

        <service
            android:name=".service.BinderPoolService"
            android:enabled="true"
            android:exported="true"
            android:process=":remote_binder.pool" />

        <service
            android:name=".service.MessengerService"
            android:enabled="true"
            android:exported="true"
            android:process=":remote_messenger" />

        <service
            android:name=".service.TcpServerService"
            android:enabled="true"
            android:exported="true"
            android:process=":socket" />

        <provider
            android:name=".provider.BookProvider"
            android:authorities="com.ztiany.androidipc.provider"
            android:permission="com.ztiany.androidipc.book.provider_access"
            android:process=":book_provider" />

    </application>

</manifest>
