<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ztiany.systemui">

    <!-- 声明最大屏幕尺寸，如果应用没有适配超大屏幕，则可以使用此属性强制在以兼容模式绘制应用。 -->
    <!--    <supports-screens android:largestWidthLimitDp="320" />-->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:resizeableActivity="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".uisapmle.SystemUIActivity" />

        <activity android:name=".uisapmle.SystemUIWithFragmentActivity" />

        <activity
            android:name=".uimods.SystemUIModes"
            android:theme="@android:style/Theme.Material"
            tools:targetApi="lollipop" />

        <activity
            android:name=".uisapmle.VisibilityFullscreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_fullscreen"
            android:theme="@style/FullscreenTheme" />

        <activity android:name=".uisapmle.FullscreenActivity" />

        <activity android:name=".uisapmle.FullscreenActivity2" />

        <activity
            android:name=".insets.WindowInsetsActivity"
            android:theme="@style/AppTheme.TranslucentSystemBar" />

        <activity
            android:name=".cutout.CutoutActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ratio.RatioActivity"
            android:maxAspectRatio="1.33"
            android:resizeableActivity="false">
            <!-- Android 7.1 及更低版本-->
            <meta-data
                android:name="android.max_aspect"
                android:value="1.33" />
        </activity>

    </application>

</manifest>